.txt-verde {
    color: #84FF8C;
}
.bg-verde {
    background-color: #84FF8C;
}

.txt-bege {
    color: #FAF5E6;
}
.bg-bege {
    background-color: #FAF5E6;
}
h2 {
    color: #10780f;
    font-size: 1.5rem;
    margin-top: -25px;
}

.form-control {
    margin-right: 11.5rem;
    margin-left: 17.5rem;
}